q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [24]:
q = 4
for i in range(4):
    for j in range(0,i+1):
        print("ineruon ", end= "")
    print("\n")

ineruon

ineruon ineruon

ineruon ineruon ineruon

ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

q3 : Try to extract all the list entity

In [66]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
for i in l:
    print(i)

[1, 2, 3, 4]
(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)
{45, 4, 5, 23}
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
['ineuron', 'data science ']

q4 : Try to extract all the dict enteties

In [68]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

q5 : Try to extract all the tuples entities

In [73]:
for i in l :
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

q6 : Try to extract all the numerical data it may b a part of dict key and values

In [106]:
for i in l:
    if type(i) == list or type(i) == tuple :
        for j in i:
            if type(j) == int:
                print(j)
                
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) ==int:
                print(k , ":" ,v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
3 : 6
7 : 8

q7 : Try to give summation of all the numeric data

In [111]:
sum=0
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j)==int:
                sum=sum+j
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                sum=sum+k+v
print("Summation: " , sum)

Summation:  156

q8 : Try to filter out all the odd values out all numeric data which is a part of a list

In [128]:
e = []
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                if j%2==0:
                    e.append(j)
e

[2, 4]

q9 : Try to extract "ineruon" out of this data

In [131]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [137]:
l[5][0]

'ineuron'

q10 :Try to find out a number of occurances of all the data

In [146]:
occurrences={}
for item in l:
    if isinstance(item, (list, tuple, set)):  # If item is a list, tuple, or set
        for i in item:
            occurrences[i] = occurrences.get(i, 0) + 1
    elif isinstance(item, dict):  # If item is a dictionary
        for k, v in item.items():
            occurrences[k] = occurrences.get(k, 0) + 1  # Count dictionary keys
            occurrences[v] = occurrences.get(v, 0) + 1  # Count dictionary values
print(occurrences, end= " ")

{1: 1, 2: 2, 3: 4, 4: 4, 5: 3, 6: 3, 7: 2, 45: 1, 23: 1, 'k1': 1, 'sudh': 1, 'k2': 1, 'ineuron': 2, 'k3': 1, 'kumar': 1, 8: 1, 'data science ': 1}

q11 : Try to find out number of keys in dict element

In [161]:
k = 0
for i in l:
    if isinstance(i,dict):
        for j in i.keys():
            k=k+1
k

5

q12 : Try to filter out all the string data

In [186]:
print(l)
for i in l:
    if isinstance(i,(list,tuple,set)):
        for j in i:
            if isinstance(j, str):
                print(j)
    elif isinstance(i,dict):
        for k,v in i.items():
            if isinstance(k,str):
                print(k)
            if isinstance(v,str):
                print(v)

[[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']]
k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

q13 : Try to Find  out alphanum in data

In [188]:
print(l)
alphanum=[]
for i in l:
    if isinstance(i,(list,tuple,set)):
        for j in i:
            if isinstance(j, str) and j.isalnum():
                alphanum.append(j)
    elif isinstance(i,dict):
        for k,v in i.items():
            if isinstance(k,str) and k.isalnum():
                alphanum.append(k)
            if isinstance(v,str) and v.isalnum():
                alphanum.append(v)
alphanum

[[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['ineuron', 'data science ']]

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron']

q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [209]:
coll=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        mul=1
        for j in i:
            if type(j)==int:
                mul=mul*j
        coll.append(mul)
    if type(i) == dict:
        mul=1
        for k,v in i.items():
            if type(k) == int:
                mul=mul*k
            elif type(v) == int:
                mul = mul*v
        coll.append(mul)
coll

[24, 720, 2520, 20700, 21, 1]

q15 : Try to unwrape all the collection inside collection and create a flat list

In [218]:
coll=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            coll.append(j)
    if type(i) == dict:
        for k,v in i.items():
                coll.append(k)
                coll.append(v)
print(coll, end=" ")

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']

### Assignment

1. Filter Floats from a List
Write a program that extracts all the floating-point numbers from a list containing mixed data types. The program should create a new list containing only the floats.

Example Input:
l = [12.5, 45, "hello", 23.0, 56.78, 90, "world"]

Expected Output:

[12.5, 23.0, 56.78]

2. Filter Strings from a List
Write a program to extract all the string elements from a mixed list and store them in a new list.

Example Input:

l = [1, "Python", 3.14, "Coding", 42, "AI"]
Expected Output:

["Python", "Coding", "AI"]
    
3. Filter Non-Integers from a List
Write a program to create a new list that contains all elements from a given list except for integers.

Example Input:
l = [1, 2, 3, "data", 4.5, True, None]
Expected Output:

["data", 4.5, True, None]

4. Filter Boolean Values from a List
Write a program to extract all the boolean values (True or False) from a mixed list.

Example Input:
l = [True, 42, "yes", False, 3.14, "AI"]

Expected Output:

[True, False]

5. Filter Even Integers from a List
Write a program that filters only the even integers from a mixed list and stores them in a new list.

Example Input:
l = [1, 2, 3, 4, 5, 6, "even", 7.8]
    
Expected Output:
[2, 4, 6]
    
6. Filter Odd Integers from a List
Write a program that extracts only the odd integers from a mixed list into a new list.

Example Input:
l = [10, 21, 32, 43, "odd", 54, 65]

Expected Output:
[21, 43, 65]

7. Filter Elements of a Specific Length
Write a program to filter all string elements with a length greater than 4 characters from a mixed list.

Example Input:
l = ["apple", "AI", 123, "data", "hello", 3.14]
    
Expected Output:

["apple", "hello"]
    
8. Filter None Values
Write a program to remove all None values from a mixed list and store the remaining elements in a new list.

Example Input:
l = [1, None, "Python", None, 45.6, "data"]

Expected Output:
[1, "Python", 45.6, "data"]

9. Filter Alphabetic Strings Only
Write a program that extracts only alphabetic strings (strings without numbers or special characters) from a mixed list.

Example Input:
l = ["AI", "Data123", "hello!", "world", 42, "Python3"]

Expected Output:
["AI", "world"]

10. Filter Elements of Specific Data Type
Write a program that asks the user to input a data type (e.g., int, float, str) and filters elements of that type from a given mixed list.

Example Input:
l = [1, 2.5, "hello", 3, 4.0, "world"]
    
Data type to filter: float

Expected Output:

[2.5, 4.0]

In [ ]:
### Answe

1. Filter Floats from a List
Write a program that extracts all the floating-point numbers from a list containing mixed data types. The program should create a new list containing only the floats.

Example Input:
l = [12.5, 45, "hello", 23.0, 56.78, 90, "world"]

Expected Output:

[12.5, 23.0, 56.78]

In [230]:
f = []
l = [12.5, 45, "hello", 23.0, 56.78, 90, "world"]
for i in l:
    if isinstance(i,float):
        f.append(i)
f

[12.5, 23.0, 56.78]

2. Filter Strings from a List
Write a program to extract all the string elements from a mixed list and store them in a new list.

Example Input:

l = [1, "Python", 3.14, "Coding", 42, "AI"]

Expected Output:

["Python", "Coding", "AI"]

In [234]:
l = [1, "Python", 3.14, "Coding", 42, "AI"]
s=[]
for i in l:
    if isinstance(i,str):
        s.append(i)
s

['Python', 'Coding', 'AI']

3. Filter Non-Integers from a List
Write a program to create a new list that contains all elements from a given list except for integers.

Example Input:
l = [1, 2, 3, "data", 4.5, True, None]

Expected Output:

["data", 4.5, True, None]

In [256]:
l = [1, 2, 3, "data", 4.5, True, None]
m=[]
for i in l:
    if isinstance(i,(float,str,bool)):
        m.append(i)
    elif isinstance(i,int):
        pass
    else:
        m.append(i)
m

['data', 4.5, True, None]

4. Filter Boolean Values from a List
Write a program to extract all the boolean values (True or False) from a mixed list.

Example Input:
l = [True, 42, "yes", False, 3.14, "AI"]

Expected Output:

[True, False]

In [264]:
l = [True, 42, "yes", False, 3.14, "AI"]
b=[]

for i in l:
    if isinstance(i,bool):
        b.append(i)
b

[True, False]

5. Filter Even Integers from a List
Write a program that filters only the even integers from a mixed list and stores them in a new list.

Example Input:
l = [1, 2, 3, 4, 5, 6, "even", 7.8]
    
Expected Output:
[2, 4, 6]

In [271]:
l = [1, 2, 3, 4, 5, 6, "even", 7.8]
e = []

for i in l:
    if isinstance(i,int):
        if i%2==0:
            e.append(i)
e

[2, 4, 6]

6. Filter Odd Integers from a List
Write a program that extracts only the odd integers from a mixed list into a new list.

Example Input:
l = [10, 21, 32, 43, "odd", 54, 65]

Expected Output:
[21, 43, 65]

In [274]:
l = [10, 21, 32, 43, "odd", 54, 65]
o = []

for i in l:
    if isinstance(i,int):
        if i%2!=0:
            o.append(i)
o

[21, 43, 65]

7. Filter Elements of a Specific Length
Write a program to filter all string elements with a length greater than 4 characters from a mixed list.

Example Input:
l = ["apple", "AI", 123, "data", "hello", 3.14]
    
Expected Output:

["apple", "hello"]

In [283]:
l = ["apple", "AI", 123, "data", "hello", 3.14]
s = []
for i in l:
    if isinstance(i,str):
        if len(i)>4:
            s.append(i)
s

['apple', 'hello']

8. Filter None Values
Write a program to remove all None values from a mixed list and store the remaining elements in a new list.

Example Input:
l = [1, None, "Python", None, 45.6, "data"]

Expected Output:
[1, "Python", 45.6, "data"]

In [290]:
l = [1, None, "Python", None, 45.6, "data"]
s = []
for i in l:
    if isinstance(i,(int,str,float)):
        s.append(i)
s

[1, 'Python', 45.6, 'data']

9. Filter Alphabetic Strings Only
Write a program that extracts only alphabetic strings (strings without numbers or special characters) from a mixed list.

Example Input:
l = ["AI", "Data123", "hello!", "world", 42, "Python3"]

Expected Output:
["AI", "world"]

In [295]:
l = ["AI", "Data123", "hello!", "world", 42, "Python3"]
a = []
for i in l:
    if isinstance(i,str):
        if i.isalpha():
            a.append(i)
a

['AI', 'world']

10. Filter Elements of Specific Data Type
Write a program that asks the user to input a data type (e.g., int, float, str) and filters elements of that type from a given mixed list.

Example Input:
l = [1, 2.5, "hello", 3, 4.0, "world"]
    
Data type to filter: float

Expected Output:

[2.5, 4.0]

In [300]:
l = [1, 2.5, "hello", 3, 4.0, "world"]
f = []
for i in l:
    if isinstance(i,float):
        f.append(i)
f

[2.5, 4.0]