# Functional Arguments

**Question 1: Positional Arguments**
Write a function called `add` that takes two positional arguments `a` and `b`, and returns their sum.

Expected Output:

```python
result = add(5, 10)
print(result)  # Output: 15
```

In [3]:
def add(a,b):
    sum = a + b
    return sum
result = add(5,10)
print(result)

15

**Question 2: Keyword Arguments**
Write a function called `greet` that takes two keyword arguments `name` and `age`, and prints a greeting message with the provided values.

Expected Output:

```python
greet(name="Alice", age=25)  # Output: Hello, Alice! You are 25 years old.

```

In [6]:
def greet(name,age):
    print(f"Hello, {name}! You are {age} years old.")

greet(name = "Alice", age = 25)

Hello, Alice! You are 25 years old.

**Question 3: Default Values**
Write a function called `multiply` that takes two arguments `a` and `b`, with `b` having a default value of 2. The function should return the product of `a` and `b`.

Expected Output:

```python
result = multiply(5)
print(result)  # Output: 10

In [9]:
def multiply(a,b=2):
    return a*b

result = multiply(5)
print(result)

10

**Question 4: Mixing Positional and Keyword Arguments**
Write a function called `print_info` that takes three positional arguments `name`, `age`, and `country`, and prints the information in a formatted message.

Expected Output:

```python
print_info("Alice", 25, "USA")  # Output: Name: Alice, Age: 25, Country: USA

```

In [12]:
def print_info(name,age,country):
    print(f"Name: {name}, Age: {age}, Country: {country}")
    
print_info("Alice", 25, "USA")

Name: Alice, Age: 25, Country: USA

1. Create a variable `name` and assign your name to it. Print a greeting message using the variable.

In [14]:
def greeting(name):
    print(f"Hi, This is {name}")
greeting("nithin")

Hi, This is nithin

2. Convert the string `"42"` to an integer and assign it to a variable `num`. Print the value and type of `num`.

In [17]:
def value(a):
    num = int(a)
    return num
value("42")

42

3. Define a tuple with three elements: `"cat"`, `"dog"`, and `"rabbit"`. Print the third element.

In [20]:
def three(t):
    return t[-1]
three(("cat","dog","rabbit"))

'rabbit'

4. Swap the values of two variables, `a` and `b`, without using a temporary variable.

In [23]:
def swap_values(a,b):
    a = a+b
    b = a-b
    a = a-b
    
    return a,b
swap_values(10,20)

(20, 10)

5. Write a program that takes your age as input and prints a message: `"You are [age] years old."`

In [26]:
def Your_age(age):
    print(f"You are {age} years old")
age = int(input("Enter your age: "))
Your_age(age)

Enter your age:  23

You are 23 years old

6. Calculate the product of two numbers entered by the user and print the result.

In [28]:
def multiplication(a,b):
    return a*b
a=int(input("Enter a value: "))
b=int(input("Enter b value: "))
multiplication(a,b)

Enter a value:  2
Enter b value:  3

6

7. Format the variables `item = "book"` and `price = 25.99` into a sentence.

In [30]:
def format(item,price):
    print(f"The {item} price is {price}")
format(item = "book", price = 25.99)

The book price is 25.99

8. Write a function that takes an integer as input and returns `"Positive"`, `"Negative"`, or `"Zero"`.

In [32]:
def integer_check(n):
    if n > 0:
        return "Positive"
    elif n < 0:
        return "negative"
    else:
        return "Zero"
a = int(input("Enter integer: "))
integer_check(a)

Enter integer:  -1

'negative'

9. Create a program that checks if a user-input number is even or odd.

In [34]:
def check_even_odd(n):
    if n%2==0:
        return "Even"
    else:
        return "Odd"

b=int(input("Enter a number: "))
check_even_odd(b)

Enter a number:  2

'Even'

10. Write a program that determines if a year entered by the user is a leap year.

In [36]:
def leap_year_check(year):
    if (year%4==0 and year%100!=0) or year%400==0:
        return "Leap Year"
    else:
        return "Not Leap Year"
year = int(input("Enter Year : "))
leap_year_check(year)

Enter Year :  2023

'Not Leap Year'

11. Print the numbers from 1 to 5 using a `for` loop.

In [38]:
for i in range(1,6):
    print(i, end = " ")

1 2 3 4 5

12. Write a `while` loop that calculates the sum of numbers from 1 to 20.

In [40]:
i=1
sum = 0
while i<=20:
    sum = sum+i
    i = i+1
print(sum)

210

13. Print each character of the string `"Hello"` using a loop.

In [42]:
s = "Hello"
for i in s:
    print(i , end=" ")

H e l l o

14. Create a list of your favorite fruits and print the second fruit on the list.

In [52]:
list1 = ["apple", "pineapple", "orange" , "grapes"]
list1[1]

'pineapple'

15. Add the number 7 to a set. Add the number 7 again and observe the set's behavior.

In [46]:
se = {1,2,3,4,5,6}
se.add(7)
se

{1, 2, 3, 4, 5, 6, 7}

In [48]:
se.add(7)
se

{1, 2, 3, 4, 5, 6, 7}

16. Write a function that takes a list as input and returns a new list without duplicate elements.

In [1]:
def fun(li):
    l = set(li)
    li = list(l)
    return li
li = [1,2,3,4,5,"nithin","balu", 2 ,"nithin"]
res = fun(li)
print(res)

[1, 2, 3, 4, 5, 'nithin', 'balu']

17. Create a tuple containing your birth year, birth month, and birth day.

In [5]:
t = (2002, "March" , 10)
t

(2002, 'March', 10)

18. Define a function `calculate_average` that takes a list of numbers as input and returns their average.

In [11]:
def calculate_average(a,b,c):
    return (a+b+c)/3
calculate_average(1,2,3)

2.0

19. Write a function `power` that takes two arguments, `base` and `exponent`, and calculates `base` raised to the power of `exponent`.

In [14]:
def power(base,exponent):
    return base ** exponent
power(2,3)

8

20. Define a function that takes any number of strings as arguments and returns them concatenated.

In [17]:
def concat(a,b,c):
    return a+b+c
concat("ni","th","in")

'nithin'

21. Check if the word "apple" is present in the string "I like apples and oranges".

In [29]:
str = "I like apples and oranges"
if "apple" in str:
    print("True")
else:
    print("False")

True

22. Count the occurrences of the letter "i" in the string "Mississippi".

In [44]:
def occurences(s):
    c = 0
    for i in s:
        if i == 'i':
            c = c+1
    return c
str = "Mississippi"
occurences(str)

4

23. Reverse the string `"Python"` using slicing.

In [47]:
p = "Python"
p[::-1]

'nohtyP'

24. Create a dictionary representing a car with keys `"make"`, `"model"`, and `"year"`. Print the car's model.

In [58]:
d = { "make" : "Audi" , "model" : "Q5" , "year" : 2024}

In [70]:
d["model"]

'Q5'

25. Add a new car to the dictionary, modify the year of an existing car, and retrieve the make of a specific car.

In [77]:
cars = {
    "car1": {"make": "Audi", "model": "Q5", "year": 2024}
}

cars["car2"] = {"make": "BMW", "model": "X5", "year": 2023}

In [83]:
print(cars["car2"]["model"])

X5