# Functions Assignment

1. Write a function that takes two numbers and returns their sum.

2. Write a function that takes a string and returns it reversed.

3. Write a function that checks if a number is even or odd.

4. Write a function that returns the factorial of a number.

5. Write a function that takes a list and returns the maximum element.

6. Print numbers from 1 to 10 using a for loop.

7. Print each character in a string using a for loop.

8. Write a program that sums all numbers in a list using a for loop.

9. Print the multiplication table of a given number using a for loop.

10. Write a program that prints all even numbers from 1 to 50.

11. Print numbers from 1 to 10 using a while loop.

12. Keep taking input from the user until they type "exit".

13. Write a program that finds the sum of digits of a number using a while loop.

14. Guess the number game: Keep asking the user until they guess the correct number.

15. Print the Fibonacci sequence up to n terms using a while loop.

16. Write a function that takes variable number of arguments using *args and returns their sum.

17. Write a program that unpacks a list into separate variables using *.

nums = [1, 2, 3, 4, 5]
a, *b = nums  # Try printing a and b

18. Create a function that multiplies a number with itself n times using * (e.g., 2 * 3 = 6).

19. Use * to combine two lists into one:

a = [1, 2]
b = [3, 4]

combined = [*a, *b]

20. Write a function that checks whether a string is a palindrome.

21. Write a function that returns the number of vowels in a given string.

22. Write a function that takes a list of numbers and returns only the even numbers.

23. Write a function that converts Celsius to Fahrenheit.

24. Write a function that takes a string and returns the number of words in it.
25. Write a function that uses *args and prints all values line by line with their index.
26. Write a function that takes *args and returns their average.
27. Keep asking the user to enter a positive number. Stop when they enter a negative number.

28. Write a program to reverse a number using a while loop.

29. Find the first number divisible by both 3 and 5 greater than 100 using while.

30. Use a while loop to check if a number is a prime.

31. Create a countdown timer using while, e.g., from 10 to 1.
32. Print all elements in a nested list.

33. Count how many times each character appears in a string.

34. Use a for loop to find the largest number in a list without using max().

35. Create a list of squares for numbers from 1 to 10 using a loop.

1. Write a function that takes two numbers and returns their sum.

In [5]:
def sum1(a,b):
    return a+b

sum1(10,20)

30

2. Write a function that takes a string and returns it reversed.

In [7]:
def string_reverse(a):
    return a[::-1]

string_reverse("nithin is learning python")

'nohtyp gninrael si nihtin'

3. Write a function that checks if a number is even or odd.

In [9]:
def even_odd(a):
    if a%2 == 0:
        print("Number is even")
    else:
        print("Number is odd")

even_odd(5)

Number is odd

4. Write a function that returns the factorial of a number.

In [11]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        if n==1:
            return 1
        else:
            return n * factorial(n-1)

factorial(5)

120

5. Write a function that takes a list and returns the maximum element.

In [13]:
def find_max(lst):
    a = max(lst)
    return a

In [15]:
lst=[1,2,3,4,5,6]

In [17]:
find_max(lst)

6

6. Print numbers from 1 to 10 using a for loop.

In [19]:
def numbers(n):
    for i in range(1,n+1):
        print(i, end= " ")
numbers(10)

1 2 3 4 5 6 7 8 9 10

7. Print each character in a string using a for loop.

In [21]:
def character_string(s):
    for i in s:
        print(i , end=" ")
s="nithin"
character_string(s)

n i t h i n

8. Write a program that sums all numbers in a list using a for loop.

In [23]:
def sum_list(lst):
    sum = 0
    for i in lst:
        sum=sum+i
    return sum

lst = [1,2,3,4,5,6]
sum_list(lst)

21

9. Print the multiplication table of a given number using a for loop.

In [25]:
def mul_table(n):
    for i in range(1,11):
        print(n, "*", i , "=" , n*i)
mul_table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

10. Write a program that prints all even numbers from 1 to 50.

In [27]:
def even(n):
    for i in range(1,n+1):
        if i%2 == 0:
            print(i, end = " ")
even(50)

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

11. Print numbers from 1 to 10 using a while loop.

In [29]:
def num(n):
    i = 1 
    while i<=n:
        print(i, end=" ")
        i=i+1
num(10)

1 2 3 4 5 6 7 8 9 10

12. Keep taking input from the user until they type "exit".

In [31]:
while True:
    user_input = input("Enter something (type 'exit' to quit): ")
    if user_input.lower() == 'exit':
        print("Good Bye!")
        break
    else:
        print("Entered String : " ,user_input)

Enter something (type 'exit' to quit):  NITHIN

Entered String :  NITHIN

Enter something (type 'exit' to quit):  EXIT

Good Bye!

13. Write a program that finds the sum of digits of a number using a while loop.

In [33]:
def sum_of_digits(n):
    s = 0
    while(n):
        r = n%10
        s = s+r
        n = n//10
    return s
sum_of_digits(1234)

10

14. Guess the number game: Keep asking the user until they guess the correct number.

In [45]:
correct_number = 5
while(True):
    guess = int(input("Guess Number: "))
    if guess == correct_number:
        print("Correct! You Guessed the number")
        break

Guess Number:  2
Guess Number:  3
Guess Number:  5

Correct! You Guessed the number

15. Print the Fibonacci sequence up to n terms using a while loop.

In [35]:
def fibonacci(n):
    i = 1
    a = 0
    b = 1
    while i<=n:
        print(a, end=" ")
        c = a+b
        a = b
        b = c
        i=i+1

fibonacci(10)

0 1 1 2 3 5 8 13 21 34

16. Write a function that takes variable number of arguments using *args and returns their sum.

In [37]:
def sum_all(*args):
    return sum(args)

In [39]:
print(sum_all(1,2,3,4))

10

17. Write a program that unpacks a list into separate variables using *.

nums = [1, 2, 3, 4, 5]

a, *b = nums  # Try printing a and b

In [51]:
nums = [1,2,3,4,5]
a, *b =nums
print(a)
print(b)

1
[2, 3, 4, 5]

18. Create a function that multiplies a number with itself n times using * (e.g., 2 * 3 = 6).

In [64]:
def multiplies(num, n):
    m = num * n
    return m

multiplies(2,3)

6


19. Use * to combine two lists into one:

a = [1, 2]
b = [3, 4]

combined = [*a, *b]

In [69]:
a = [1,2]
b = [3,4]
combined = [*a,*b]

combined

[1, 2, 3, 4]

20. Write a function that checks whether a string is a palindrome.

In [73]:
def string_palindrome(s1):
    s2 = s1[::-1]
    if s2 == s1:
        return "Palindrome"
    else:
        return "Not Palindrome"

s1 = input("Enter String: ")
string_palindrome(s1)

Enter String:  nitin

'Palindrome'

21. Write a function that returns the number of vowels in a given string.

In [76]:
def number_of_vowels(s1):
    v = "aeiouAEIOU"
    c=0
    for i in s1:
        if i in v:
            c = c+1
    return c

s1=input("Enter a string: ")
number_of_vowels(s1)

Enter a string:  nithin

2

22. Write a function that takes a list of numbers and returns only the even numbers.

In [79]:
def list_even(l):
    for i in l:
        if i % 2 == 0:
            print(i, end=" ")
l = [1,2,3,4,5]
list_even(l)

2 4

23. Write a function that converts Celsius to Fahrenheit.

In [86]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32
celsius_to_fahrenheit(0)

32.0

24. Write a function that takes a string and returns the number of words in it.

In [91]:
def words(s):
    words = s.split()
    return len(words)
s = input("Enter string: ")
words(s)

Enter string:  Harsha is good boy

4

25. Write a function that uses *args and prints all values line by line with their index.

In [96]:
def args_with_index(*args):
    for index, value in enumerate(args):
        print(index, ":" ,value)
args_with_index("apple" , "banana", "orange")

0 : apple
1 : banana
2 : orange

26. Write a function that takes *args and returns their average.

In [102]:
def average_args(*args):
    return (sum(args))/len(args)
average_args(10,20,30)

20.0

27. Keep asking the user to enter a positive number. Stop when they enter a negative number.

In [104]:
while(True):
    num1 = int(input("Enter a number (Negative number to stop loop): "))
    if num1<0:
        break

Enter a number (Negative number to stop loop):  2
Enter a number (Negative number to stop loop):  -1

28. Write a program to reverse a number using a while loop.

In [109]:
def rev_num(n):
    s=0
    while(n):
        r = n%10
        s = s*10+r
        n=n//10
    return s

n = int(input("enter a number:"))
rev_num(n)

enter a number: 123

321

29. Find the first number divisible by both 3 and 5 greater than 100 using while.

In [114]:
def div1():
    i=100
    while(True):
        if i % 3 == 0 and i % 5 == 0:
            return i
            break
        i=i+1
div1()

105

30. Use a while loop to check if a number is a prime.

In [121]:
def is_prime(n):
    c = 0
    if n==0:
        return 1
    for i in range(1,n+1):
        if n%i == 0:
            c = c+1
    if c == 2:
        return "True"
    else:
        return "False"
n=int(input("Enter a number:"))
is_prime(n)

Enter a number: 5

'True'

31. Create a countdown timer using while, e.g., from 10 to 1.

In [130]:
def countdown(n):
    i = n
    while(i>0):
        print(i)
        i=i-1
n= int(input("Enter number: "))
countdown(n)

Enter number:  10

10
9
8
7
6
5
4
3
2
1

32. Print all elements in a nested list.

In [135]:
l = [1,2,3,[4,5,6]]

for i in l:
    if type(i) == list:
        for j in i :
            print(j)

4
5
6

33. Count how many times each character appears in a string.

In [138]:
def count_characters(s):
    char_count = {}
    for char in s:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    return char_count
s = input("Enter string : ")
count_characters(s)

Enter string :  nithin

{'n': 2, 'i': 2, 't': 1, 'h': 1}

34. Use a for loop to find the largest number in a list without using max().

In [141]:
def list_largest(l):
    if not list:
        return none
    largest = l[0]
    for i in l[1:]:
        if i > largest:
            largest = i
    return largest
l=[1,2,3,4,5]
list_largest(l)

5

35. Create a list of squares for numbers from 1 to 10 using a loop.

In [148]:
def squares_list(l):
    l1=[]
    for i in l:
        a = i*i
        l1.append(a)
    return l1
squares_list(l)

[1, 4, 9, 16, 25]