# Practical Questions on map()

1. Convert a list of strings to uppercase

words = ['python', 'is', 'awesome']

Output: ['PYTHON', 'IS', 'AWESOME']

In [15]:
words = ['python','is','awesome']
l = list(map(str.upper, words))

In [17]:
l

['PYTHON', 'IS', 'AWESOME']

2. Square all numbers in a list

numbers = [1, 2, 3, 4]

Output: [1, 4, 9, 16]

In [20]:
numbers = [1,2,3,4]
squares = list(map(lambda i : i**2, numbers))

In [22]:
squares

[1, 4, 9, 16]

3. Convert a list of integers to strings

nums = [1, 2, 3]

Output: ['1', '2', '3']

In [39]:
nums = [1,2,3]
[str(i) for i in nums]

['1', '2', '3']

4. Add 5 to each element in a list

marks = [50, 60, 70]

Output: [55, 65, 75]

In [56]:
marks = [50,60,70]
m = list(map(lambda a: a+5, marks))

In [52]:
m

[55, 65, 75]

5. Get lengths of all strings in a list

names = ['apple', 'banana', 'kiwi']

Output: [5, 6, 4]

In [59]:
names = ['apple', 'banana', 'kiwi']
o = list(map(lambda x : len(x), names))

In [61]:
o

[5, 6, 4]

# Filter()

1. Filter out even numbers

nums = [1, 2, 3, 4, 5, 6]

Output: [2, 4, 6]

In [64]:
nums = [1,2,3,4,5,6]
even = list(filter(lambda x : x%2==0, nums))

In [66]:
even

[2, 4, 6]

2. Keep only strings with more than 3 characters

words = ['hi', 'hello', 'hey', 'sun']

Output: ['hello']

In [70]:
words = ['hi', 'hello', 'hey', 'sun']
characters = list(filter(lambda x : len(x)>3, words))

In [72]:
characters

['hello']

3. Remove empty strings from a list

data = ['Python', '', 'Java', '', 'C++']

Output: ['Python', 'Java', 'C++']

In [90]:
data = ['Python','','Java','','C++']
empty = list(filter(bool,data))

In [92]:
empty

['Python', 'Java', 'C++']

4. Get names that start with 'A'

names = ['Alice', 'Bob', 'Angela', 'Tom']

Output: ['Alice', 'Angela']

In [85]:
names = ['Alice', 'Bob', 'Angela', 'Tom']
start = list(filter(lambda x: x.startswith('A'), names))

In [87]:
start

['Alice', 'Angela']

5. Keep truthy values only

items = [0, None, 'hello', False, 42, '']

Output: ['hello', 42]

In [94]:
items = [0, None, 'hello', False, 42, '']
truthy = list(filter(bool,items))

In [96]:
truthy

['hello', 42]

# Reduce()

In [108]:
from functools import reduce

1. Sum of all numbers

nums = [1, 2, 3, 4]

Output: 10

In [110]:
nums = [1, 2, 3, 4]
s = reduce(lambda x,y: x+y, nums)

In [112]:
s

10

2. Product of all even numbers

nums = [1, 2, 3, 4, 5]

Filter even → [2, 4]

Reduce → 8

In [126]:
nums = [1, 2, 3, 4, 5]
even = list(filter(lambda x: x%2==0 , nums))
o = reduce(lambda x,y: x*y , even)

In [128]:
o

8

3. Find the longest word

words = ['apple', 'banana', 'kiwi']

Output: 'banana'

In [140]:
words = ['apple', 'banana', 'kiwi']
l = reduce(lambda x, y: x if len(x)>=len(y) else y, words)

In [142]:
l

'banana'

4. Join list of strings into one sentence

words = ['Python', 'is', 'fun']

Output: 'Python is fun'

In [145]:
words = ['Python', 'is', 'fun']
l = reduce(lambda x,y: x+" "+y, words)

In [147]:
l

'Python is fun'

5. Create number from digits

digits = [1, 2, 3, 4]

Output: 1234

In [ ]:
digits = [1, 2, 3, 4]
digit = reduce(lambda