# Practice Questions

1. What is the difference between a function and a method in Python?

Function:
1. A function is defined using the def keyword and is not tied to any object or class (unless explicitly passed).
2. It can be defined at the module level (outside of a class).

Method:
1. A method is also a function, but it is associated with an object or class.
2. It is defined within a class and automatically takes the instance (self) or class (cls) as its first argument.

2. Which keyword is used to define a function in Python?

A function is defined using the def keyword

3. What will return do inside a function?

It allows the function to return a value or result.

4. What is the default return value of a function if there is no return statement?

If a Python function does not have a return statement (or the return statement has no value), it returns None by default.

5. What is a keyword argument? Give an example.

A keyword argument is an argument passed to a function by explicitly specifying the parameter name

In [14]:
def greet(name, message):
    print(f"{message}, {name}!")

greet(name="Alice", message="Good morning")

Good morning, Alice!

6. What is the use of *args and **kwargs in function definitions?

1. *args – Non-keyword variable arguments
   
Allows you to pass any number of positional arguments.


Inside the function, args is a tuple.

2. **kwargs – Keyword variable arguments
  
Allows you to pass any number of keyword arguments.


Inside the function, kwargs is a dictionary.

7. Can you define a function inside another function in Python?

Yes, you can define a function inside another function in Python. This is called a nested function or inner function.

In [23]:
def outer_function(name):
    def inner_function():
        return f"Hello, {name}!"
    return inner_function()

print(outer_function("Alice"))

Hello, Alice!

8. What does global keyword do inside a function?

The global keyword in Python is used inside a function to indicate that a variable refers to the global (module-level) scope, not the local one.


Purpose:
It allows you to modify a global variable from within a function.

In [28]:
x = 10

def modify_global():
    global x
    x = 20

modify_global()
print(x)

20

9. Which of the following creates a lambda function?
a) lambda x: x + 2
b) def lambda x: x + 2
c) function lambda(x): x + 2

In [37]:
lambda x: x+2

10.Identify the error:

def greet(name):

print("Hello", name)

In [47]:
def greet(name):
    print("Hello",name)

greet("nithin")

Hello nithin

11. Write a function that takes two numbers and returns their sum.

In [52]:
def add(a,b):
    return a+b
add(10,20)

30

12. Write a function to check if a number is even or odd.

In [61]:
def eod(n):
    if n%2==0:
        return "Given Number is Even"
    else:
        return "Given Number is Odd"

eod(15)

'Given Number is Odd'

13. Write a function that returns the factorial of a number.

In [64]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n * fact(n-1)

fact(4)

24

14. Write a function that reverses a string.

In [67]:
def rs(s):
    return s[::-1]

rs("Nithin")

'nihtiN'

15. Write a function that takes a list and returns a list of squares.

In [74]:
def square(l):
    return [x**2 for x in l]

l=[1,2,3,4,5]
square(l)

[1, 4, 9, 16, 25]

16. Write a function that takes a string and returns True if it is a palindrome.

In [79]:
def palin(s):
    a = s[::-1]
    if s==a:
        return "Palindrome"
    else:
        return "Not Palindrome"

palin("nitin")

'Palindrome'

17. Write a recursive function to calculate the nth Fibonacci number.

In [86]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

fibonacci(3)

2

18. Write a function that accepts variable number of arguments and returns their sum.

In [89]:
def s(*args):
    return sum(args)
s(1,2,3,4,5,6)

21

19. Write a function that takes a dictionary and prints keys and values.

In [92]:
def dict(**kwargs):
    for k,v in kwargs.items():
        print(k,v)
dict(name="nithin", age=23, number=204)

name nithin
age 23
number 204

20. Write a function that accepts a list of numbers and returns only even numbers.

In [99]:
def even(l):
    for i in l:
        if i%2==0:
            print(i)
    
l=[1,2,3,4,5,6]
even(l)

2
4
6

21. Create a lambda function to add 5 to a given number.

In [108]:
add_five = lambda x: x + 5
add_five(10)

15

22. Create a function that returns the largest number from a list.

In [114]:
def largest(l):
    return max(l)
l=[1,2,3,4,5,6]
largest(l)

6

23. Create a function with default arguments.

In [119]:
def greet(name="Guest"):
    print(f"Hello, {name}!")
greet("Alice")
greet()

Hello, Alice!
Hello, Guest!

24. Write a function that counts vowels in a string.

In [124]:
v = 'aeiouAEIOU'
def cv(s):
    c=0
    for i in s:
        if i in v:
            c=c+1
    return c
cv("nithin")

2

25. Write a function that merges two lists and removes duplicates.

In [130]:
def merge_and_remove_duplicates(list1, list2):
    merged_list = list1 + list2
    return list(set(merged_list))
l=[1,2,3,4,5,6]
l1=[2,3,4,5,6]
merge_and_remove_duplicates(l,l1)

[1, 2, 3, 4, 5, 6]

26. What is pandas in Python?

Pandas is a powerful and flexible open-source library in Python used for data manipulation and analysis. It provides data structures like Series and DataFrame that make it easy to work with structured data (e.g., tabular data, time series, and more).

27. Which function is used to read a CSV file?

In [138]:
import pandas as pd

df = pd.read_csv('/Users/nithinbodla/DataScience/DATASETS/DressSales.csv')

df.head()

,Dress_ID,29/8/2013,31/8/2013,2/9/2013,4/9/2013,6/9/2013,8/9/2013,10/9/2013,12/9/2013,14/9/2013,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1190380701,6,7,7,7,8,8,9,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

28. What is the difference between loc and iloc?

1. loc: Label-based indexing

loc is used to select data based on the label (index) of rows and columns.

It includes both start and stop positions when slicing.


2. iloc: Integer-location based indexing

iloc is used to select data based on the integer position (i.e., the index of rows and columns).

It excludes the stop position when slicing (i.e., it's exclusive of the last element).

29. How do you check for missing values in a DataFrame?`

In [145]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', None],
        'Age': [25, None, 35, 40]}

df = pd.DataFrame(data)

print(df.isnull())

    Name    Age
0  False  False
1  False   True
2  False  False
3   True  False

30. How can you get basic statistical summary of a DataFrame?

In [148]:
df.describe()

             Age
count   3.000000
mean   33.333333
std     7.637626
min    25.000000
25%    30.000000
50%    35.000000
75%    37.500000
max    40.000000

31. What is the output of df.head()?

In [151]:
df.head()

      Name   Age
0    Alice  25.0
1      Bob   NaN
2  Charlie  35.0
3     None  40.0

32. How do you rename a column in pandas?

In [154]:
df.rename(columns={'Age': 'ages'}, inplace=True)

In [156]:
df

      Name  ages
0    Alice  25.0
1      Bob   NaN
2  Charlie  35.0
3     None  40.0

33. What method is used to join/merge two DataFrames?

Merge method is used to join two DataFrames

34. What does df.dropna() do?

In [161]:
df.dropna()

      Name  ages
0    Alice  25.0
2  Charlie  35.0

35. What is the difference between Series and DataFrame?

1. Series:

A Series is a one-dimensional labeled array that can hold any data type (integers, strings, floats, etc.).

It is similar to a list or array, but with labels (indexes) for each element.
    
Key Features:

1D structure: A single column of data.
    
Can have custom indexes.
    
Stores data in a linear fashion.

2. DataFrame:
    
A DataFrame is a two-dimensional labeled data structure, like a table or spreadsheet, where you have rows and columns.
    
It is essentially a collection of Series objects that share the same index.
    
Key Features:

2D structure: Can hold data in both rows and columns.
    
Each column can be a different data type (integers, strings, floats, etc.).
    
Has both row and column labels (indexes).

36. Load a CSV file into a DataFrame using pandas.

In [174]:
import pandas as pd

df = pd.read_csv("/Users/nithinbodla/DataScience/DATASETS/AgentLogingReport.csv")

df.head()

   SL No               Agent       Date Login Time Logout Time  Duration
0      1  Shivananda Sonwane  30-Jul-22   15:35:29    17:39:39  02:04:10
1      2      Khushboo Priya  30-Jul-22   15:06:59    15:07:16  00:00:17
2      3       Nandani Gupta  30-Jul-22   15:04:24    17:31:07  02:26:42
3      4     Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35  00:45:06
4      5              Mukesh  30-Jul-22   14:03:15    15:11:52  01:08:36

37. Display the first 5 rows of a DataFrame.

In [177]:
df.head()

   SL No               Agent       Date Login Time Logout Time  Duration
0      1  Shivananda Sonwane  30-Jul-22   15:35:29    17:39:39  02:04:10
1      2      Khushboo Priya  30-Jul-22   15:06:59    15:07:16  00:00:17
2      3       Nandani Gupta  30-Jul-22   15:04:24    17:31:07  02:26:42
3      4     Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35  00:45:06
4      5              Mukesh  30-Jul-22   14:03:15    15:11:52  01:08:36

38. Select a single column from a DataFrame.

In [182]:
df[['Agent']]

                  Agent
0    Shivananda Sonwane
1        Khushboo Priya
2         Nandani Gupta
3       Hrisikesh Neogi
4                Mukesh
..                  ...
995        Manjunatha A
996             Bharath
997      Khushboo Priya
998        Nishtha Jain
999               Tarun

[1000 rows x 1 columns]

39. Select multiple columns from a DataFrame.

In [185]:
df[['Agent','Date']]

                  Agent       Date
0    Shivananda Sonwane  30-Jul-22
1        Khushboo Priya  30-Jul-22
2         Nandani Gupta  30-Jul-22
3       Hrisikesh Neogi  30-Jul-22
4                Mukesh  30-Jul-22
..                  ...        ...
995        Manjunatha A  20-Jul-22
996             Bharath  20-Jul-22
997      Khushboo Priya  20-Jul-22
998        Nishtha Jain  20-Jul-22
999               Tarun  01-Jul-22

[1000 rows x 2 columns]

40. Filter rows where a column "Age" is greater than 25.

In [198]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [24, 30, 22, 28]}
df = pd.DataFrame(data)
filtered_df = df[df['Age'] > 25]
print(filtered_df)

    Name  Age
1    Bob   30
3  David   28

41. Add a new column "Country" to an existing DataFrame.

In [201]:
df['Country'] = 'India'

In [203]:
df.head()

      Name  Age Country
0    Alice   24   India
1      Bob   30   India
2  Charlie   22   India
3    David   28   India

42. Delete a column from a DataFrame.

In [212]:
df.drop('Country',axis=1,inplace=True)

In [214]:
df

      Name  Age
0    Alice   24
1      Bob   30
2  Charlie   22
3    David   28

43. Apply a lambda function to a column to convert names to uppercase.

In [217]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
df['Name'] = df['Name'].apply(lambda x: x.upper())
print(df)

      Name  Age
0    ALICE   25
1      BOB   30
2  CHARLIE   35

44. Save a DataFrame to a new CSV file.

In [220]:
df.to_csv('file_name.csv', index=False)

45. What are the four principles of OOP?

1. Inheritance
2. Abstraction
3. Polymorphism
4. Encapsulation

46. What is the difference between a class and an object?

1. Class:

A class is a blueprint or template for creating objects (instances).
                                  
It defines the attributes (properties) and methods (functions) that the objects created from the class will have.
    
A class itself is not a real entity, but it provides a structure for objects.

2. Object:
                                                                
An object is an instance of a class. It is a real-world entity that is created from a class.
                                                                              
Each object has its own state (values for attributes) and behavior (methods defined in the class).
                                                                              
Objects are created by calling the class as if it were a function.

47. What is inheritance and how is it implemented in Python?

You define the parent class, and then the child class inherits from it by passing the parent class name in parentheses.

The child class can access methods and attributes of the parent class and can also override (or extend) the parent class methods.

Syntax:

class ParentClass:

    # Parent class code

class ChildClass(ParentClass):

    # Child class code

48. What are __init__ and self in Python classes?

In Python, __init__ and self are fundamental components used to define and work with classes and objects. Here's an explanation of each:

1. __init__ (Constructor Method):

__init__ is a special method (also known as a constructor) in Python classes. It is automatically called when a new object of the class is created.

The purpose of __init__ is to initialize the object's attributes (variables) with the values passed during object creation.

It's similar to a constructor in other programming languages.


49. What is method overriding?

Method overriding in Python refers to the ability of a child class to provide a specific implementation of a method that is already defined in its parent class. When a child class provides its own version of a method, it overrides the method of the parent class.

This allows the child class to modify or extend the behavior of a method inherited from the parent class, without changing the method in the parent class itself.

50. Define a class Car with attributes make, model, and a method to display details.

In [247]:
class Car:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
    def show_details(self):
        return self.make,self.model,self.year
     
c = Car("Hyundai","Creta",2024)
c.show_details()

('Hyundai', 'Creta', 2024)

51. Create a class Rectangle with methods to calculate area and perimeter.

In [250]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width
    
    def area(self):
        return self.length * self.width
    
    def perimeter(self):
        return 2 * (self.length + self.width)
rectangle = Rectangle(5, 3)

print(f"Area: {rectangle.area()}")  
print(f"Perimeter: {rectangle.perimeter()}")

Area: 15
Perimeter: 16

52. Implement single inheritance using classes Person and Employee.

In [253]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def display_info(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")

class Employee(Person):
    def __init__(self, name, age, employee_id, department):
        super().__init__(name, age)
        self.employee_id = employee_id
        self.department = department
    
    def display_employee_info(self):
        self.display_info()
        print(f"Employee ID: {self.employee_id}")
        print(f"Department: {self.department}")

emp = Employee("Alice", 30, "E123", "HR")
emp.display_employee_info()

Name: Alice
Age: 30
Employee ID: E123
Department: HR

In [ ]:


53. Write a class BankAccount that allows deposit, withdraw, and balance check.

54. Create a class Student that stores name and marks, and has a method to calculate grade.

55. What is the purpose of the open() function in Python?

56. What are the different modes available in open()?
a) 'r', 'w', 'a', 'b', 'x', 'r+' — explain any three.

57. What is the difference between read(), readline(), and readlines()?

58. What happens if you try to open a file that doesn't exist in read mode?

59. What is the use of the with statement in file handling?

60. Write a Python program to open a text file and print its content.

61. Write a Python program to count the number of lines in a file.

62. Write a Python program to read a file line by line and print only lines containing the word "error".

63. Write a program to write a list of strings to a file (each on a new line).

64. Read a file and create a dictionary with word counts (word frequency).

65. Append a new line of text to an existing file.

66. Write a function to copy content from one file to another.

67. Write a program that checks if a file exists before trying to open it.

68. Write a program that reads a CSV file and prints each row.

69. Write a program to write the current date and time to a log file each time it's run.

70. Write a Python program that reads a text file called data.txt and prints only the lines that contain the word "success" (case-insensitive)

53. Write a class BankAccount that allows deposit, withdraw, and balance check.

In [256]:
class BankAccount:
    def __init__(self, account_holder, balance=0):
        self.account_holder = account_holder
        self.balance = balance
    
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited: ${amount}. Current balance: ${self.balance}")
        else:
            print("Deposit amount must be positive.")
    
    def withdraw(self, amount):
        if amount <= 0:
            print("Withdrawal amount must be positive.")
        elif amount > self.balance:
            print("Insufficient balance.")
        else:
            self.balance -= amount
            print(f"Withdrawn: ${amount}. Current balance: ${self.balance}")
    
    def check_balance(self):
        print(f"Current balance: ${self.balance}")
    
account = BankAccount("John Doe")
account.deposit(500)
account.withdraw(200)
account.check_balance()
account.withdraw(400)

Deposited: $500. Current balance: $500
Withdrawn: $200. Current balance: $300
Current balance: $300
Insufficient balance.

54. Create a class Student that stores name and marks, and has a method to calculate grade.

In [259]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
    
    def calculate_grade(self):
        if self.marks >= 90:
            return "A"
        elif self.marks >= 80:
            return "B"
        elif self.marks >= 70:
            return "C"
        elif self.marks >= 60:
            return "D"
        else:
            return "F"
    
    def display_info(self):
        grade = self.calculate_grade()
        print(f"Name: {self.name}")
        print(f"Marks: {self.marks}")
        print(f"Grade: {grade}")

student1 = Student("Alice", 85)
student2 = Student("Bob", 72)
student1.display_info()
print() 
student2.display_info()

Name: Alice
Marks: 85
Grade: B

Name: Bob
Marks: 72
Grade: C

55. What is the purpose of the open() function in Python?

The open() function in Python is used to open a file in a specified mode (e.g., read, write, append) and returns a file object that allows you to interact with the file (e.g., reading or writing).

56. What are the different modes available in open()?
a) 'r', 'w', 'a', 'b', 'x', 'r+' — explain any three.

1. 'r' – Read Mode
Purpose: Opens a file for reading only.

Behavior: The file must already exist. If the file does not exist, a FileNotFoundError is raised.

Use Case: This mode is used when you need to read the content of an existing file.

Example:

file = open('example.txt', 'r') 

content = file.read()

print(content)

file.close()

2. 'w' – Write Mode

Purpose: Opens a file for writing.

Behavior: If the file already exists, it is overwritten. If the file does not exist, it is created.

Use Case: This mode is used when you want to write data to a file, but be cautious as existing content in the file will be lost.

Example:

file = open('example.txt', 'w') 

file.write("Hello, World!") 
file.close()

3. 'a' – Append Mode

Purpose: Opens a file for appending.

Behavior: The file is opened and new data is added at the end of the file. If the file does not exist, it will be created. The existing content is not overwritten.

Use Case: This mode is useful when you want to add new data to the file without deleting the old content.
Example:

file = open('example.txt', 'a') 

file.write("\nThis is a new line.") 

file.close()

57. What is the difference between read(), readline(), and readlines()?

The functions read(), readline(), and readlines() are used to read data from a file in Python, but they differ in how they return the file's contents.

1. read()
Purpose: Reads the entire content of the file at once.
Return Value: It returns the content as a single string.
Behavior: If you do not provide a size argument, it will read the entire file. You can also provide a number to read a specific number of bytes.
Use Case: This is useful when you want to read the entire file in one go or when the file size is not very large.
Example:

with open('example.txt', 'r') as file:
    content = file.read()  # Reads all the content
    print(content)
Output (if the file contains the following content):

Hello, this is the file content.
It contains multiple lines.
2. readline()
Purpose: Reads one line from the file at a time.
Return Value: It returns a single line from the file, including the newline character (\n) at the end.
Behavior: Each time you call readline(), it reads the next line from the file.
Use Case: This is useful when you want to process the file line by line, especially when dealing with large files, to avoid reading everything into memory at once.
Example:

with open('example.txt', 'r') as file:
    line = file.readline()  # Reads the first line
    print(line)  # Prints the first line
Output:

Hello, this is the file content.
Subsequent calls to readline() will return the next lines, one by one.

3. readlines()
Purpose: Reads all the lines in the file and returns them as a list of strings.
Return Value: It returns a list where each element is a line from the file.
Behavior: The list will include newline characters (\n) at the end of each line, except for the last line if it doesn't end with a newline.
Use Case: This is useful when you want to process all lines at once but still work with them individually, like in a loop or when you need to store them for further processing.
Example:

with open('example.txt', 'r') as file:
    lines = file.readlines()  # Reads all lines and returns a list
    print(lines)
Output:

['Hello, this is the file content.\n', 'It contains multiple lines.\n']

58. What happens if you try to open a file that doesn't exist in read mode?

If you try to open a file that doesn't exist in read mode ('r'), Python will raise a FileNotFoundError.

59. What is the use of the with statement in file handling?

The with statement in Python is used to simplify file handling by ensuring that files are properly opened and closed, even if an error occurs during file operations. It is often referred to as a context manager, and it provides a clean and efficient way to work with files and other resources that need to be explicitly released (like network connections, database connections, etc.).

60. Write a Python program to open a text file and print its content.

In [283]:
with open('/Users/nithinbodla/DataScience/sample.txt', 'r') as file:
    content = file.read()
    print(content)

A paragraph is a distinct section of writing that focuses on a single idea or topic, typically consisting of several related sentences. It's often indicated by an indent at the beginning of the first sentence. Paragraphs help organize and structure written work, making it easier for readers to follow the author's thoughts.

61. Write a Python program to count the number of lines in a file.

In [288]:
with open("/Users/nithinbodla/DataScience/python.txt","r") as f:
    line_count = sum(1 for line in f)
print(f"Number of lines: {line_count}")

Number of lines: 6

62. Write a Python program to read a file line by line and print only lines containing the word "error".

In [293]:
with open('/Users/nithinbodla/DataScience/logfile.txt', 'r') as file:
    for line in file:
        if 'error' in line:
            print(line.strip())

An error occurred while connecting to the server.
Connection failed due to timeout error.

63. Write a program to write a list of strings to a file (each on a new line).

In [296]:
lines = ["Hello, world!", "This is a test.", "Writing to a file.", "Each line is separate."]
with open('output1.txt', 'w') as file:
    for line in lines:
        file.write(line + '\n')

64. Read a file and create a dictionary with word counts (word frequency).

65. Append a new line of text to an existing file.

In [301]:
new_line = "This is a new line being appended."

with open('output1.txt', 'a') as file:
    file.write(new_line + '\n')

66. Write a function to copy content from one file to another.

In [311]:
with open('output1.txt', 'r') as file, open('output2.txt','w') as file1:
    for line in file:
        file1.write(line)

67. Write a program that checks if a file exists before trying to open it.

In [316]:
import os

filename = 'example.txt'
if os.path.exists(filename):
    with open(filename, 'r') as file:
        content = file.read()
        print("File content:\n", content)
else:
    print(f"The file '{filename}' does not exist.")

The file 'example.txt' does not exist.

68. Write a program that reads a CSV file and prints each row.

In [319]:
import pandas as pd
df = pd.read_csv("/Users/nithinbodla/DataScience/DATASETS/AgentLogingReport.csv")

df

     SL No               Agent       Date Login Time Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22   15:35:29    17:39:39   02:04:10
1        2      Khushboo Priya  30-Jul-22   15:06:59    15:07:16   00:00:17
2        3       Nandani Gupta  30-Jul-22   15:04:24    17:31:07   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35   00:45:06
4        5              Mukesh  30-Jul-22   14:03:15    15:11:52   01:08:36
..     ...                 ...        ...        ...         ...        ...
995    996        Manjunatha A  20-Jul-22   09:03:51    15:02:28   05:58:37
996    997             Bharath  20-Jul-22   09:00:49    15:01:32   06:00:43
997    998      Khushboo Priya  20-Jul-22   08:59:20    14:26:55   05:27:34
998    999        Nishtha Jain  20-Jul-22   08:43:55    14:00:33   05:16:38
999   1000               Tarun  01-Jul-22   01:52:47    12:01:07  514:08:20

[1000 rows x 6 columns]

69. Write a program to write the current date and time to a log file each time it's run.

70. Write a Python program that reads a text file called data.txt and prints only the lines that contain the word "success" (case-insensitive)

In [326]:
with open('/Users/nithinbodla/DataScience/data.txt', 'r') as file:
    for line in file:
        if 'success' in line.lower():
            print(line.strip())

Operation completed successfully.
SUCCESS: Backup created.
Partial Success.