1. Create a string variable and print its length.

In [3]:
str = "nithin"
l = len(str)
print(l)

6

2. Take a string input from the user and print it in reverse.

In [8]:
user = input("Enter a String: ")
print("Reversed String: ", user[::-1])

Enter a String:  nitin

Reversed String:  nitin

3. Replace all occurrences of "a" with "@" in a given string.

In [11]:
a = "This is alphaa man"
a.replace('a', '@')

'This is @lph@@ m@n'

4. Convert a string to all uppercase letters using a loop (without .upper()).

In [14]:
user = input("Enter a String: ")
uppercase = ""

for char in user:
    if 'a'<= char <='z':
        uppercase += chr(ord(char) - 32)
    else:
        uppercase += char
print(uppercase)

Enter a String:  Data Science course in Aimnxt

DATA SCIENCE COURSE IN AIMNXT

5. Count how many times the letter "e" appears in a string.

In [17]:
user.count('e')

3

6. Print the first and last character of a given string.

ss = "DataScience"
firstchar = ss[0]
lastchar = ss[-1]
print("firstcharacter: ", firstchar)
print("LastCharacter: ", lastchar)

7. Concatenate two strings and print the result.

In [25]:
str1= 'Aim'
str2= 'Nxt'
print(str1+str2)

AimNxt

8. Check if a given string contains the word "Python".

In [30]:
str = "Python is versatile"
if "Python" in str:
    print("string contains Python")
else:
    print("Python is not their in the string")

string contains Python

9. Remove all spaces from a string and print the new string.

In [33]:
str.replace(" ","")

'Pythonisversatile'

10. Extract and print the first five characters of a string.

In [38]:
str[::5]

'Pnvt'

11. Create a list of five numbers and print the list.

In [42]:
l = [1,2,3,4,5]
l[0:5]

[1, 2, 3, 4, 5]

12. Print the third element of a given list.

In [48]:
l[2]

3

13. Replace the second element of a list with "hello".

In [56]:
l[1] = "hello"
l

[1, 'hello', 3, 4, 5]

14. Add a new element to the end of a list.

In [61]:
l.append(6)
l

[1, 'hello', 3, 4, 5, 6, 6]

15. Remove the last element from a list and print the modified list.

In [64]:
l.pop()
l

[1, 'hello', 3, 4, 5, 6]

16. Print each element of a list one by one using a loop.

In [71]:
for i in l:
    print(i)

1
hello
3
4
5
6

17. Check if the number 10 is in a given list.

In [76]:
if (i==10):
    print("10 is in the list")
else:
    print("10 is not in the list")

10 is not in the list

18. Create two lists and join them into one.

In [87]:
l1 = [10,20,30,40,50]
ss=[l,l1]
print(ss)

[[1, 'hello', 3, 4, 5, 6, [10, 20, 30, 40, 50], [10, 20, 30, 40, 50], [10, 20, 30, 40, 50]], [10, 20, 30, 40, 50]]

19. Print a list in reverse order without using slicing ([::-1]).

In [112]:
l1.reverse()
l1

[50, 40, 30, 20, 10]

20. Sort a list in ascending order without using .sort().

21. Create a tuple of three colors and print it.

In [116]:
colors= ('blue', 'red', 'green')
colors

('blue', 'red', 'green')

22. Print the second element of a given tuple.

In [119]:
colors[1]

'red'

23. Try changing an element in a tuple (observe the error).

In [122]:
colors[2] = 'yellow'

TypeError: 'tuple' object does not support item assignment

24. Convert a tuple to a list and print it.

In [127]:
convert = list(colors)
type(convert)

list

25. Check if "blue" exists in a given tuple.

In [134]:
if "blue" in colors:
    print("Present in tuple")
else:
    print("Not")

Present in tuple

26. Print each element of a tuple using a loop.

In [137]:
for i in colors:
    print(i)

blue
red
green

27. Merge two tuples and print the result.

In [140]:
color  = ('pink' , 'orange')
two = (colors, color)
two

(('blue', 'red', 'green'), ('pink', 'orange'))

28. Print a tuple in reverse order.

In [147]:
colors[::-1]

('green', 'red', 'blue')

29. Find the length of a tuple without using len().

In [150]:
len(colors)

3

30. Create a tuple with a single element and print its type.

In [155]:
t = (1)
type(t)

int

31. Create a string "Hello, World!" and print only "World!".

In [162]:
str = "Hello, World!"
str[7:]

'World!'

32. Convert "Python is fun" to "PYTHON IS FUN" without using .upper().

In [169]:
str = "Python is fun"
upper=""
for i in str:
    if 'a'<=i<='z':
        upper+=chr(ord(i)-32)
    else:
        upper+=i
print(upper)

PYTHON IS FUN

33. Count how many words are in "I love learning Python" (without using .split()).

In [185]:
mystring = "I Love Learning Python"
wordcount = 1
for i in mystring :
    if i == " ":
        wordcount+=1
print(wordcount)

4

34. Take a string input from the user and check if it starts with "Hello".

In [175]:
str = "Hello, World!"
str.startswith("Hello")

True

35. Print every second character of a string.

In [180]:
str[1::2]

'el,Wrd'

36. Replace all vowels in a string with "*".

In [183]:
str = "Hello, World!"
vowels = "aeiouAEIOU"
modified=""
for char in str:
    if char in vowels:
        modified+='*'
    else:
        modified+=char
print(modified)

H*ll*, W*rld!

37. Swap the first and last character of a string.

In [192]:
if s == swapping:
    print("true")
else:
    print("false")

false

38. Check if two given strings are the same (case-sensitive).

In [188]:
s = "python"
swapping = s[-1] + s[1:-1] + s[0]
swapping

'nythop'

39. Print a string without the first and last character.

In [200]:
print(s)
print(swapping)
wfl = s[1:-1]
print(wfl)

python
nythop
ytho

40. Convert a string "12345" into a list of individual characters.

In [208]:
str="12345"
l = list(str)
l

['1', '2', '3', '4', '5']

41. Create a list of five cities and print only the last three.

In [217]:
cities = ['Hyderabad', 'Karimnagar', 'Mumbai', 'banglore', 'pune']
cities[-3:]

['Mumbai', 'banglore', 'pune']

42. Remove the middle element from a list of five elements.

In [222]:
cities.remove('Mumbai')

ValueError: list.remove(x): x not in list

In [224]:
print(cities)

['Hyderabad', 'Karimnagar', 'banglore', 'pune']

43. Take five numbers from the user and store them in a list.

In [229]:
num=[]
for i in range(5):
    user=float(input())
    num.append(user)
print(num)

 1
 2
 3
 4
 5

[1.0, 2.0, 3.0, 4.0, 5.0]

44. Find the index of "apple" in the list ["banana", "orange", "apple", "grape"].

In [232]:
l = ["banana", "orange", "apple", "grape"]
l.index("apple")

2

45. Print only the even numbers from a given list.

In [237]:
l = [1,2,3,4,5,6]
for i in l:
    if i%2==0:
        print(i)

2
4
6

46. Reverse a list by swapping elements (without [::-1]).

47. Create a list of ten numbers and print only the unique elements.

In [244]:
l = [1,2,2,3,3,4,4,5,5,6,6]
s =set(l)
s

{1, 2, 3, 4, 5, 6}

48. Print the sum of all elements in a list (without using sum()).

In [247]:
print(l)
sum=0
for i in l:
    sum+=i
print(sum)

[1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6]
41

49. Move the first element of a list to the last position.

In [252]:
l = [1,2,3,4,5,6]
s = l[0]
l[0] = l[-1]
l[-1] = s
l

[6, 2, 3, 4, 5, 1]

50. Create a list with mixed data types (int, float, string) and print each element with its type.

In [259]:
l = [10.5,204,"nithin"]
for e in l:
    print(type(e))

<class 'float'>
<class 'int'>
<class 'str'>

51. Create a tuple of five numbers and print only the first three.

In [264]:
t = (1,2,3,4,5)
t[0:3]

(1, 2, 3)

52. Print the last element of a tuple without using negative indexing.

In [270]:
c = len(t)
t[c-1]

5

53. Convert a tuple (1, 2, 3, 4, 5) into a list and add a new number.

In [275]:
print(t)
l = list(t)
l.append(7)
l

(1, 2, 3, 4, 5)

[1, 2, 3, 4, 5, 7]

54. Try deleting an element from a tuple and observe the error.

In [278]:
print(t)
t.pop()

(1, 2, 3, 4, 5)

AttributeError: 'tuple' object has no attribute 'pop'

55. Extract the middle element from a tuple with an odd number of elements.

In [282]:
print(t)
first = 0
last = len(t)-1
middle = (first + last)//2
t[middle]

(1, 2, 3, 4, 5)

3

56. Check if two tuples (1, 2, 3) and (3, 2, 1) are the same.

In [285]:
t1 =  (1, 2, 3)
t2 =  (3, 2, 1)
if (t1==t2):
    print("lists are same")
else:
    print("lists are not same")

lists are not same

57. Create a nested tuple and print an inner element.

In [291]:
t1 = (1,2,(3,4),(5,6,7))
t1[2][1]

4

58. Merge three tuples into one.

In [296]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = (7,8,9)
tup = t1+t2+t3
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9)

59. Find the index of 5 in the tuple (1, 3, 5, 7, 9).

In [299]:
t = (1,3,5,7,9)
t.index(5)

2

In [ ]:
60. Unpack a tuple into separate variables.